.bg-success{
    background-color: green;
}

.bg-warning{
    background-color: red;
}

.bg-brand{
    background-image: linear-gradient(to bottom right, #00338D, rgb(57, 94, 158)) ;
    color: white;
}
.bg-white{
    color: blue;
    background-color: white;
}