.bg-success{
    background-color: green;
}

.bg-warning{
    background-color: red;
}

.bg-brand{
    background-color: blue;
    color: white;
}
.bg-white{
    color: blue;
    background-color: white;
}