.form-section{
    border: 1px solid #1E90FF;
    padding: 10px;
    margin-bottom: 10px;
    
    

}

.form-section input{
    max-width: 400px;
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    border-color: grey;
}

.form-section label{
    font-weight: bold;
    font-size: 14px;
}

