.social-media-icons{
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
}

.social-media-container{
    margin: 0px;
    padding: 2px;
    justify-self: center;
}

.nav-icon{
    height: 40px;
    width: 40px;
    justify-self: end;
}


.header{
    display: grid;
    
    color: white;
    padding-top: 3px;
    padding-left:10px ;
    
    margin-bottom: 0px;
}


.menu-nav{
    list-style-type: none;
    text-align: center;

}

.menu-nav li {
    
    cursor: pointer;
 
}

@media only screen and (min-width: 900px){
    .header{
       
        
        padding-bottom: 5px;
        
        
       
    }
 
    .nav-icon{
        display: none;
    }
   
    .menu-nav{
      
       
        padding-top: 6px;
        padding-bottom: 7px;
        padding-left: 0px;
        margin-left: 0px;
        text-align: center;
        
    
    }

    .menu-nav li{
        display: inline;
        margin-right: 26px;
        margin-left: 26px;
        
    }
}

@media only screen and (max-width: 900px){
    .header{
      
      
        padding-bottom: 15px;
    }
  
    .nav-icon{
        display: initial;
    }

    .menu-nav{
    
       
        padding-top: 6px;
        padding-bottom: 7px;
        padding-left: 0px;
        text-align: center;
        
    
    }
    .menu-nav li{
        display: block;
        border-bottom: 1px solid white;
        padding: 5px;
       
    }
}




li>a[class*="nav-link"]{
    text-decoration: none;
    background-color: inherit;
    color:inherit;
    }

.menu-nav li:hover{

    color: rgb(168, 138, 138);
}


.brand-name{
    font-family: "HCo Gotham SSm",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-size:25px;
    line-height: 20px;
    font-weight: 200;
    
}
.brand-container{
    display: grid;
    grid-template-columns: 80% 20%;
    
}
.brand-container-name{
    display: inline-grid;
    grid-template-rows: auto auto;
    
}

.brand-name-undertext{
    font-size: 13px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}