.quote-page-wrapper{
    background-image: url(../images/quoteBackground.svg);
    background-position: center;
    background-size: cover;
}

.quote-section-header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
}

.form-section{
    border: 1px solid #1E90FF;
    padding: 10px;
    margin-bottom: 3px;
    background-color:rgb(255,255,255,1);
    
    

}

.form-section input{
    max-width: 400px;
    width: 100%;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    border-color: grey;
}

.form-section label{
    font-weight: bold;
    font-size: 14px;
}

