.services-group{
    
    padding-top: 30px;
    padding-bottom: 20px;
}

.group-title{

    background: -webkit-linear-gradient(#00338D, rgb(57, 94, 158));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
    font-size: 48px;
    font-weight: bold;
   
    margin:auto auto 20px auto;
    text-align: center;
}

.services-group-items{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    gap: 10px;

    margin-bottom: 10px;
    
}




.card{
    background-color: white;
    border: 1px solid whitesmoke;
   
    
    box-shadow: 5px 10px 8px #888888;
}

.card-title{
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 12px;
    border-left: 3px solid blue;
}

.card-image{
    display: block;
    margin: auto;
    height: 150px;
    width: 95%;


}

.card-text{
    font-size: 16px;
    font-family: 'Segoe UI';
    margin: 15px 15px 15px 10px;
    
}



.card-btn{
    display: inline-block;
   

    text-align: center;
    
    width: 100%;
}