.services-group{
    background-color: #eef0f1;
}

.group-title{
    
    font-size: 28px;
    font-weight: bold;
    color: blue;
    margin:auto;
    text-align: center;
}

.services-group-items{
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;

    margin-bottom: 10px;
    
}




.card{
    background-color: white;
    border: 1px solid whitesmoke;
   
    
    box-shadow: 5px 10px 8px #888888;
}

.card-title{
    margin-left: 5px;
    padding-left: 2px;
    border-left: 3px solid blue;
}

.card-image{
    width:100%;
    max-height: 200px;

}

.card-text{
    font-size: 16px;
    font-family: 'Segoe UI';
    margin: 5px;
}

.card-btn{
    width: 100%;
    text-align: center;
}