a[class*="btn"]{
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-color:white;
    border-style: solid;
}

button[class*="btn"]{
    display: inline-block;
    border-radius: 5px;
    border-style: solid;
    height: 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-color:white;
}



*{

    font-size: 20px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    margin: 0;
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

label{
    display: block;
}