.social-media-icons{
    height: 70px;
    width: 70px;
    margin: 5px;
}

*{

    font-size: 50px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.brand-name{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size:50px;
    font-weight: 200;
}
.brand-container{
    display: inline-grid;
    grid-template-rows: auto auto;
}

.brand-name-undertext{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}